@import "tailwindcss";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Adjust layout for smaller screens */
  @media (max-width: 768px) {
    font-size: 62.5%;
  }
  
}

.custom-line-through {
  text-decoration: line-through;
  text-decoration-thickness: 0.4rem; /* Adjust the thickness */
  text-decoration-color: var(--color-neutral-800);
}

